<!DOCTYPE html>
    <head>
         <meta charset="UTF-8"> 
         <script src="scoredisplay.js"></script>
        <style>
.body{
  background-image: url("background.jpg");
}
h1
 { display: block;
  font-size: 1000%;
 color:#DA1111;
}
h2
{
    color:#DCCBCB;
}
h3
{
    color:#DCCBCB;
}
h4{
    color:#DCCBCB;
}

 

        </style>
    </head>
    <body>
        <div class="body">
        <div class="container">
            
            <div class="row">

                <div class="col-xs-6">

                    <center>
                    <h1 class="styled centred">Game Over</h1>
                    
                    <div><h2 class="final_score">Score-0</h2>
                    
                </div>
                </center>

</div>
<div class="row">
                <div class="col-sm-6 styled centred" id="centered">
                    
                </div>
                <div class="col-sm-3 styled" id="coordinates">
                </div>
                <div class="col-sm-3 styled" id="network-inputs">
                </div>
            </div>
            <div class="col-xs-6" id="network-output">
                    <!--<h3>Network Output</h3><br>-->
                </div>
           

            <div class="row">
                <div class="col-sm-6 styled centred" id="centered">
                    
                </div>
                <div class="col-sm-3 styled" id="coordinates">
                </div>
                <div class="col-sm-3 styled" id="network-inputs">
                </div>
            </div>

        <script src="/scoredisplay.js"></script>

            </div>
        </div>
    </div>












<!--

                    <center>
                    <h1 class="styled centred">Game Over</h1>
                    
                    <div><h2 class="final_score">Score-0</h2>
                    
                </div>
                </center>
                -->


